Workflow-waha-whatsAap
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        0
      ],
      "id": "811194f7-9f4f-42af-9d30-7eb7055fadbe",
      "name": "Webhook",
      "webhookId": "85bc72e5-6bf4-4537-a572-94ab53d9af97"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "740cd8d5-3a77-4aab-8ee5-5eaea0dd09a4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        176,
        0
      ],
      "id": "0fb17434-46dd-4244-9483-4e18ed8b42d7",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpfVocê é um assistente virtual especializado em atendimento ao cliente. Sua função é responder mensagens de forma educada, empática e objetiva.\n\n**Diretrizes:**\n- Mantenha respostas curtas e diretas\n- Seja amigável e prestativo\n- Use emojis moderadamente para humanizar\n- Se não souber a resposta, direcione para um humano\n- Identifique-se como assistente virtual\n\n**Fluxo de Atendimento:**\n1. Saudação inicial: Agradecer e se apresentar\n2. Coletar necessidade do cliente  \n3. Oferecer ajuda específica\n4. Encerrar com cordialidade\n\n**Exemplo de Resposta:**\n\"Olá! 😊 Sou seu assistente virtual. \nEm que posso ajudar você hoje?\"ul assistant",
          "maxIterations": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        -160
      ],
      "id": "817f3b64-9282-4574-928b-66df7cc6bf84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "38aa29bd-90a6-4acd-80b0-3a153fd05884",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ze08zAweW8XIgTIv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        320,
        192
      ],
      "id": "77580bc7-0976-4b59-aefb-8781eee3ea70",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "MX4gnrw46iBPbDA2",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json['payload-Id'] }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        672,
        0
      ],
      "id": "c595e983-a242-463f-abe6-34dde9849f68",
      "name": "Send Seen",
      "credentials": {
        "wahaApi": {
          "id": "3hIK73VAsoCj2yDy",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        880,
        0
      ],
      "id": "2e41d2ec-31af-49c0-b759-4448c728c805",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "3hIK73VAsoCj2yDy",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cea09cb8-c75e-471c-9026-235a1324a71b",
              "name": "session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "1234cdf8-14d4-4829-90d7-09ad6c79027f",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "2e7c36d1-7c75-4f44-bb8c-45cdbe53ab92",
              "name": "payload-Id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "11588e2c-e9e8-4656-bfa8-1d1d5c782059",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "3ea6e715-ecad-47ec-90fb-b20d328a0a96",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "524c82ee-39c3-4fd5-b3a9-af663514af5e",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            },
            {
              "id": "7eb7c039-ce12-4523-9b1d-765647decf91",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "3dc80b02-faaa-4b5f-b2aa-89f49eeab821",
      "name": "Dados"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        48
      ],
      "id": "c995891b-0863-4460-a651-ba9709f0f1b5",
      "name": "Create an event in Google Calendar"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Seen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send Seen": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "accept": "application/json, text/plain, */*",
          "content-type": "application/json",
          "user-agent": "WAHA/2025.11.1",
          "x-webhook-request-id": "01K9N9EP5E9ERNS1GWPZBC0KZ0",
          "x-webhook-timestamp": "1762724894894",
          "content-length": "2161",
          "accept-encoding": "gzip, compress, deflate, br",
          "host": "host.docker.internal:5678",
          "connection": "keep-alive"
        },
        "params": {},
        "query": {},
        "body": {
          "id": "evt_01k9n9ep5d5ggh9a80t61grvfa",
          "timestamp": 1762724894894,
          "event": "message",
          "session": "default",
          "metadata": {},
          "me": {
            "id": "556182025951@c.us",
            "pushName": "BRUNO",
            "lid": "167091525132392@lid",
            "jid": "556182025951:45@s.whatsapp.net"
          },
          "payload": {
            "id": "false_556181554906@c.us_3AE1408DF849D1AB512F",
            "timestamp": 1762724894,
            "from": "556181554906@c.us",
            "fromMe": false,
            "source": "app",
            "body": "Oi",
            "to": null,
            "participant": null,
            "hasMedia": false,
            "media": null,
            "ack": 2,
            "ackName": "DEVICE",
            "replyTo": null,
            "_data": {
              "Info": {
                "Chat": "556181554906@s.whatsapp.net",
                "Sender": "556181554906@s.whatsapp.net",
                "IsFromMe": false,
                "IsGroup": false,
                "AddressingMode": "",
                "SenderAlt": "119279932453056@lid",
                "RecipientAlt": "",
                "BroadcastListOwner": "",
                "BroadcastRecipients": null,
                "ID": "3AE1408DF849D1AB512F",
                "ServerID": 0,
                "Type": "text",
                "PushName": "Monica Lima",
                "Timestamp": "2025-11-09T21:48:14Z",
                "Category": "",
                "Multicast": false,
                "MediaType": "",
                "Edit": "",
                "MsgBotInfo": {
                  "EditType": "",
                  "EditTargetID": "",
                  "EditSenderTimestampMS": "0001-01-01T00:00:00Z"
                },
                "MsgMetaInfo": {
                  "TargetID": "",
                  "TargetSender": "",
                  "TargetChat": "",
                  "DeprecatedLIDSession": null,
                  "ThreadMessageID": "",
                  "ThreadMessageSenderJID": ""
                },
                "VerifiedName": null,
                "DeviceSentMeta": null
              },
              "Message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "EDZxi1YpmXL9TQ==",
                    "senderTimestamp": 1761642608,
                    "recipientKeyHash": "cPs4PMHT0znPCw==",
                    "recipientTimestamp": 1762713008
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "DzhVFVPhOULt9xExB2yX3KKG9lPOu+dsOyQDk/mkAKY="
                }
              },
              "IsEphemeral": false,
              "IsViewOnce": false,
              "IsViewOnceV2": false,
              "IsViewOnceV2Extension": false,
              "IsDocumentWithCaption": false,
              "IsLottieSticker": false,
              "IsBotInvoke": false,
              "IsEdit": false,
              "SourceWebMsg": null,
              "UnavailableRequestID": "",
              "RetryCount": 0,
              "NewsletterMeta": null,
              "RawMessage": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "EDZxi1YpmXL9TQ==",
                    "senderTimestamp": 1761642608,
                    "recipientKeyHash": "cPs4PMHT0znPCw==",
                    "recipientTimestamp": 1762713008
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "DzhVFVPhOULt9xExB2yX3KKG9lPOu+dsOyQDk/mkAKY="
                }
              },
              "Status": 3
            }
          },
          "environment": {
            "version": "2025.11.1",
            "engine": "GOWS",
            "tier": "CORE",
            "browser": null
          }
        },
        "webhookUrl": "http://host.docker.internal:5678/webhook-test/webhook",
        "executionMode": "test"
      }
    ],
    "AI Agent": [
      {
        "output": "Olá! 😊 Sou seu assistente virtual. Em que posso ajudar você hoje?\n"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4058f99793ca71549c4a63c34a3a064a0ee8b5622b1afb1bcaea5a5632a5c81"
  }
}
